.burger-menu {
    display: none;
}


@media (max-width: 768px){

.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* position: fixed;
    top: 20px;
    right: 20px; */
    z-index: 1;
    transition: right 0.3s ease-in-out;
    margin-right: 15px;
  }
  
  .burger-menu.open {
    left: 0;
  }
  
  .burger-icon {
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  
  .menu-items {
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #0D4491;
    background: -moz-linear-gradient(top, #0D4491 0%, #2388CB 100%, #114444 100%);
    background: -webkit-linear-gradient(top, #0D4491 0%, #2388CB 100%, #114444 100%);
    background: linear-gradient(to bottom, #0D4491 0%, #2388CB 100%, #114444 100%);color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 40px;
    right: 0;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .burger-menu.open .menu-items {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}