.category-card-container{
  text-decoration: none;
  width: 300px;
  margin: 10px 15px;
  box-shadow: 0 0 10px 1px black;
  border-radius: 16px;
  padding: 15px;
  position: relative;
  transition: .3s ease;
}

.category-card-container .category-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center ;
  border-radius: 16px;
  opacity: .9;
}

.category-card-container .category-title{
  margin: 10px auto;
  width: fit-content;
  color: #000;
  font-size: 1.6rem;
  transition: .2s ease;
}

.category-card-container .category-name{
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-text-stroke: 1px rgba(0, 0, 0, .5);
  color: #fff;
}

@media (min-width: 769px) {
  .category-card-container:hover{
    background: #0D4491;
  }
  .category-card-container:hover .category-title{
    font-size: 1.7rem;
    color: #fff;
  }
}
@media (max-height: 720px) {
  .category-card-container{
    width: 200px;
  }
  .category-card-container .category-img{
    height: 200px;
  }
}