footer {
  background: #0D4491;
  background: -moz-linear-gradient(top, #0D4491 0%, #2388CB 100%, #114444 100%);
  background: -webkit-linear-gradient(top, #0D4491 0%, #2388CB 100%, #114444 100%);
  background: linear-gradient(to bottom, #0D4491 0%, #2388CB 100%, #114444 100%);
  color: white;
  color: white;
  font-family: Roboto, sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.footer-container-ul {
  margin-top: 18px;
  padding: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 1.1rem;
  font-weight: 400;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.footer-container-p {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}

.footer-container-icons {
  margin-top: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}

.footer-container-icons-social {
  display: flex;
  gap: 15px;
  margin: 10px 0;
}

.footer-container-icons-store {
  display: flex;
  flex-direction: column;
}

.footer-container-icons-social img {
  width: 40px;
  height: 50px;
}

.footer-container-icons-store img {
  width: 130px;
  height: 70px;
}

@media (min-width: 768px) {
  .footer-container {
    padding: 0 50px;
    height: 300px;

  }

  .footer-container-ul {
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: flex-start;
  }

  .footer-container-p {
    font-size: 1.4rem;
    text-align: start;
    margin-left: 15px;
  }

  .footer-container-icons {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-container-icons-social {}

  .footer-container-icons-social img {
    width: 60px;
    height: 70px;
  }

  .footer-container-icons-store {
    flex-direction: row;
    gap: 15px;
    margin-right: 50px;
  }

  .footer-container-icons-store img {
    width: 180px;
    height: 200px;
  }
}