footer {
  background-color: #0d4491;
  color: white;
  font-family: Roboto, sans-serif;
}
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.footer-container-ul {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
}
.footer-container-p {
  font-size: 1rem;
  margin-left: 40px;
}
.footer-container-icons {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  gap: 20px;
}
.footer-container-icons-social {
  display: flex;
  gap: 27px;
  margin-top: 30px;
  margin: 0 auto;
}
.footer-container-icons-store {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.footer-container-icons-social img {
  width: 40px;
  height: 50px;
}
.footer-container-icons-store img {
  width: 180px;
  height: 80px;
}

@media (min-width: 1000px) {
  .footer-container {
    margin: 0 60px;
  }
  .footer-container-ul {
    flex-direction: row;
    font-size: 1.5rem;
  }
  .footer-container-p {
    font-size: 1.4rem;
  }
  .footer-container-icons {
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
  }
  .footer-container-icons-social {
    margin: 0;
    margin-left: 10px;
  }
  .footer-container-icons-social img {
    width: 60px;
    height: 70px;
  }
  .footer-container-icons-store {
    flex-direction: row;
    gap: 15px;
    margin-right: 50px;
  }
  .footer-container-icons-store img {
    width: 180px;
    height: 200px;
  }
}
