footer {
  height: 650px;
  background-color: rgb(60, 61, 61);
  color: white;
  margin-top: 140px;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
ul {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: 400;
  list-style: none;
}
.container p {
  font-size: 1.1rem;
  margin-left: 40px;
}
.container-icons {
  display: flex;
  justify-content: space-between;
}
.container-icons-social {
  display: flex;
  align-items: end;
  gap: 15px;
}
.container-icons-social img {
  width: 40px;
  height: 40px;
}
