.home-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  align-items: center;
}


@media (min-width: 678px) {
  .home-container{
    height: calc(100vh - 370px);
  }
}