.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.50);
  z-index: 2;
}

.modal-container {
  margin: 50px;
  font-family: Roboto, sans-serif;
  background: #0D4491;
  border-radius: 20px;
  height: 450px;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 80%;
  transform: translateY(10px);
  padding: 25px;
  transition: .3s ease;
  z-index: 3;
}

.bottons-btn-exit {
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background: #3498db;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  left: 15px;
  top: 10px;
  box-shadow: 1px solid #3498db;
}

.modal-container-contend {
  display: flex;
  align-self: center;
}

.modal-container.inactive {
  transform: translateY(200%);
}

.modal-container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container-img {
  width: 150px;
  height: auto;
  border-radius: 15px;
  padding: 10px;
  object-fit: cover;
  object-position: center;
  margin-top: 10px;
}

.modal-container-title {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.modal-container-text {
  margin-top: 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  overflow-y: scroll;
  overflow-wrap: break-word;
  color: white;
  margin-left: 15px;
}

.modal-container-text::-webkit-scrollbar {
  height: 1px;
  background-color: none;
}

.modal-container-text::-webkit-scrollbar-thumb {
  background-color: none;
}

.bottons {
  display: flex;
  align-self: center;
  margin-top: 40px;

}

.bottons-btn-edit,
.bottons-btn-delete {
  color: white;
  background: #3498db;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 12px;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.modal-container-span {
  font-size: 1rem;
  color: white
}

@media (min-width: 768px) {
  .modal-container {
    flex-direction: row;
    width: 850px;
    height: auto;
    bottom: 85%;
    transform: translateY(100%);
  }

  .modal-container.inactive {
    transform: translateY(300%);
  }

  .bottons-btn-exit {
    width: 45px;
    height: 45px;
    font-size: 2rem;
    margin-top: 16px;

  }

  .modal-container-contend {
    flex-direction: row;
    align-self: self-start
  }

  .modal-container-card {
    margin-left: 10px;
    margin-top: 50px;
  }

  .modal-container-img {
    margin-top: 5px;
    margin-left: 10px;
    width: 250px;
    border-radius: 20px;
  }

  .modal-container-text {
    margin-top: 30px;
    background: none;
    font-size: 1.5rem;
    color: white;
    padding: 25px;
    line-height: 3rem;
    text-align: start;
  }

  .bottons {
    display: flex;
    align-self: flex-start;
    margin-top: 2px;
  }
}