.movies-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.movies-container .category-card{
  margin: 10px;
}

@media (max-width: 674px) {
  .movies-container {
    justify-content: center;
  }
}