.series-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.series-container .category-card{
  margin: 10px;
}

.inactive{
  transform: translateY(100%);
}

@media (max-width: 674px) {
  .series-container {
    justify-content: center;
  }
}